.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
