.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 12px;
}

.fab {
    position: fixed;
    right: 30px;
    bottom: 70px;
    transform: scale(1.4);
}
