:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --black: #111827;
    --white: #ffffff;
    --red: #dc2626;
    --light-gray: rgba(0, 0, 0, 0.08);
    --shadow-gray: rgba(0, 0, 0, 0.16);

    --box-shadow: 4px 4px 8px var(--light-gray);

    color: var(--black);
    background-color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: #747bff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    margin: 0;
    padding: 0 16px;

    border: 1px solid var(--light-gray);
    border-radius: 8px;

    height: 40px;
    cursor: pointer;

    background-color: var(--white);
    color: var(--black);

    font-weight: 600;

    &:hover {
        filter: brightness(0.95);
    }

    &:disabled {
        opacity: 0.7;
        cursor: progress;
    }
}

.roundBtn {
    padding: 0;
    width: 40px;
    border-radius: 9999px;
    box-shadow: var(--box-shadow);

    display: grid;
    place-items: center;
}

.primaryBtn {
    background: var(--black);
    color: var(--white);
}

.dangerBtn {
    background: var(--red);
    color: var(--white);
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
    pointer-events: none;
    fill: currentColor;
}

.dialog {
    border: none;
    border-radius: 12px;
    padding: 0;
    width: 100%;
    max-width: 520px;
    box-shadow: var(--box-shadow);

    &::backdrop {
        background: var(--shadow-gray);
        backdrop-filter: blur(2px);
    }
}
