:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --black: #111827;
    --white: #ffffff;
    --red: #dc2626;

    --shadow-color: rgba(0, 0, 0, 0.08);
    --link-base-color: #111827;

    color: var(--black);
    background-color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    display: flex;
    flex-direction: column;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: #747bff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    margin: 0;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    height: 40px;
    cursor: pointer;
    background-color: var(--white);
    font-weight: 600;

    &:hover {
        filter: brightness(0.95);
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.dangerBtn {
    background: var(--red);
    color: var(--white);
    font-weight: 600;
}
